.details_table {
  border-collapse: collapse;
  border: 1px solid black;
  table-layout: fixed;
  width: 100%;
}

.details_table td {
  word-wrap: break-word;         /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}
