@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:700);

.bar {
    padding: -10px -10px -10px -10px;
    background: rgba(230,240,255,0.4);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.bar:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 0; right: 0; left: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

#instruction {
    position: absolute;
    top:0; left: 0; right: 0; bottom: 0;
    height: 300px;
    width: 500px;
    text-align: center;
    margin: auto;
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 1.2em;
    line-height: 20px;
}

#instruction a {
    font-size: .7em;
    line-height: 25px;
    color: #9B9B4F
}

#instruction #browsers {
    padding-top: 10px;
    font-size: .7em;
    color: #555555
}

#instruction h2 {
    color: #151515
}

#instruction img {
    height: 70;
    width: 70;
    padding-top: 10px;
    border-radius: 50%;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 50px;
    background: radial-gradient(
    hsl(30,80%,80%),
    hsl(210,50%,70%) )
    no-repeat center;
}

html,
body {
    height: 100%;
}
