@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:700);

.bar {
    padding: -10px -10px -10px -10px;
    background: rgba(230,240,255,0.4);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.bar:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 0; right: 0; left: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

a {
    font-family: sans-serif;
    color: #0000b3;
}

.bar a {
    font-size: .7em;
    line-height: 25px;
}

#steps a {
    font-size: 0.9em;
    line-height: 25px;
}

.bar #browsers {
    padding-left: 20px;
    padding-top: 5px;
    font-size: .7em;
}

p.indent {
    text-indent: 50px;
}

#uid a {
    font-size: 1.0em;
}

#task a{
    font-size: 1.0em;
}

#uid {
    display: inline;
}

#steps a {
    font-size: 1.05em;
}

#browsers a {
    font-size: 1.0em;
}

.bar h2 {
    color: #151515
}

#title img {
    height: 100;
    width: 100;
    border-radius: 50%;
}

.bar li {
    text-align: left;
    font-size: 0.8em;
    color: #333333
}

#task li {
    font-size: 0.9em;
}

div.indent {
    padding: 10px;
    margin-left: 20px;
}

.guide {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    height: auto;
    margin: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#title {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;
    font-size: 1.1em;
    line-height: 25px;
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#instructions {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.ordiv {
    display: flex;
    align-items: center;
}

#instruction {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    height: auto;
    width: 100%;
    margin: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
    font-size: 1.1em;
    line-height: 25px;
    /*border: 2px solid #888888;*/
}

#whoami {
    width: 80%;
    height: auto;
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
    font-size: 1.1em;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#whoami a {
    font-size: 1.1em;
}

#task {
    width: 80%;
    height: auto;
    margin: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
    font-size: 1.1em;
    line-height: 24px;
    margin-top: 20px;
}
#contanct {
    width: 80%;
    height: auto;
    margin: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
    font-size: 1.1em;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#contact a {
    font-size: 1.1em;
}

body {
    overflow: scroll;
    margin: 0px;
    background: radial-gradient(
    hsl(30,80%,80%),
    hsl(210,50%,70%) )
    no-repeat center;
}

#content {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 5px;
    justify-content: space-around;
}


.tooltip .tooltip-inner {
    background-color: navy;
}

.tooltip .tooltip-arrow {
    border-top-color: navy;
}