.left {
  position: absolute;
  top: 0;
  left: 0%;
  width: 40%;
  height: 100%;
}
.mid {
  position: absolute;
  top: 0;
  left: 40%;
  width: 40%;
  height: 100%;
}
.right {
  position: absolute;
  top: 0;
  left: 80%;
  width: 20%;
  height: 100%;
}
.table {
  width: 33%;
  height: 100%;
}
